<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.example.vtigerApi"
      version="0.1.0">
    <name>vtigerApi</name>
    <description>PhoneGap Vtiger Mobile api Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,vtiger,api</keywords>
 
 
    <js-module src="www/VtigerMApiPlugin.js" name="vtigerMApiPlugin">
        <clobbers target="window.vtigerMApiPlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VtigerMApiPlugin">
                <param name="android-package" value="com.example.vtigerApi.VtigerMApiPlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/VtigerMApiPlugin.java" target-dir="src/com/example/vtigerApi" />      
     </platform>          
</plugin>


